* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: 1px solid #fff;
}

body {
    background-color: rgb(34, 146, 77);
    background-image: linear-gradient(rgb(34, 146, 77), rgba(18, 55, 19, 0.85));
}