footer {
    background-color: #052b04;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%; 
    line-height: 60px;
    color: #6c757d;
    font-size: 14px;
    font-weight: 400;
    height: 220px;
}

footer a {
    color: #548194;
}

footer h3 {
    font-size: 0.85rem;
}

footer a:hover {
    color: #fff;
}

footer a:active {
    color: #fff;
}

/* medium-devices */
@media (min-width: 768px) {
    footer h3 {
        font-size: 1rem;
    }
}

/* large-devices */
@media (min-width: 1024px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 100px;
    }

    .footer-info h3 {
        margin: -20px;
    }
}


